.Toolbar{
    height:56px;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background-color: saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;

}

.Logo{
    background-color: white;
    padding:8px;
    border-radius: 5px;
    height:80%;
}

.Logo img{
    height:100%;
}

@media (max-width:500px)
{
    .DesktopOnly{
        display: none;
    }
}