.Navigationitem{
    height:auto;
    margin:10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    /* align-items: center; */

}

.Navigationitem a{
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active{
    color: blue;
}

@media(min-width:500px)
{
    .Navigationitem{
        height:100%;
        margin:0;

        display: flex;
        width: auto;
        align-items: center;
    
    }
    
    .Navigationitem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .Navigationitem a:hover,
    .Navigationitem a:active,
    .Navigationitem a.active{
        background-color: brown;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}